body {
    margin:0;
    padding:0;
    background:url("bg.png");
}
#middle_block {
    display:none;
}

.block {
    position:absolute;
    width:80%;
    text-align:center;
    transition:box-shadow 0.5s;
}

.left {
    left:0px;
    height:20vh;
    border-radius:0% 5% 5% 0%;
}

.right {
    right:0px;
    top:40vh;
    height:20vh;
    border-radius:5% 0% 0% 5%;
}

.red {
    top:70vh;
    background-color:rgb(255, 200, 200);
    box-shadow:0px 0px 50px rgb(255, 100, 100);
}

.green {
    background-color:rgb(200, 255, 200);
    box-shadow:0px 0px 50px rgb(100, 255, 100);
}

.yellow {
    background-color:rgb(255, 255, 200);
    box-shadow:0px 0px 50px rgb(255, 255, 100);
    top:10vh;
}

.red:hover {
    box-shadow:0px 0px 10px rgb(255, 100, 100);
}

.green:hover {
    box-shadow:0px 0px 10px rgb(100, 255, 100);
}

.yellow:hover {
    box-shadow:0px 0px 10px rgb(255, 255, 100);
}

@media screen and (max-height: 800px) {
    .yellow {
        padding:2vh;
    }
    .red {
        padding:2vh;
    }
    .green {
        padding:2vh;
    }
}

@media screen and (max-height: 700px) {
    .yellow {
        display:none;
    }
    .green {
        display:none;
    }
    .red {
        display:none;
    }
    #middle_block {
        display:block;
        text-align:center;
        color:rgb(255, 255, 255);
        text-shadow:0px 0px 10px rgb(0, 0, 0);
    }
}

@media screen and (max-width: 800px) {
    .yellow {
        display:none;
    }
    .green {
        display:none;
    }
    .red {
        display:none;
    }
    #middle_block {
        display:block;
        text-align:center;
        color:rgb(255, 255, 255);
        text-shadow:0px 0px 10px rgb(0, 0, 0);
    }
}